body {
    font-family: "Open Sans", sans-serif;
}


/* .banner-img {
    background-image: url('/resources/banner.png');
    width: 95vw;
    height: 56.25vw;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 50px;
    overflow-x:hidden;
} */
.banner{
    background-image: url('resources/banner.png');
    width:1000px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    margin: 50px auto;
}






/* discount section start */

.dis-container{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.dis-image{
    width: 300px;
}
.discount{
    font-weight: 900;
    font-size:40px;
    color: red;
    margin-bottom: 0;
}
.dis-title{
    color: red;
    margin-top: 10px;
    margin-bottom: 5px;
}
.dis-title1{
    margin-top: 0;
    font-weight: 800;
    font-size: 20px;
    color: #070211;
}

/* discount section end */

/* Info section start */
.info-container{
    background-color: #fae8e8;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    width: 700px;
    height: 200px;
    margin: auto;
}
.place-info{
    font-weight: 800;  
    font-size: 15px;
    color: #070211;
}
.place{
    color: red;
}
.info-btn{
    background-color: red;
    font-weight: 500;  
    font-size: 15px;
    color: #ffffff;
    border: 0;
    padding: 6px 10px;
    border-radius: 10px;
    margin-top: 15px;
    letter-spacing: 2px;
}
/* Info section end */

/* offer section start */
.offer-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 30px;
    align-items: center;

}
.offer-left{
    width: 300px;
}
.offer-img{
    width: 250px;
    border: 8px solid red;
    border-radius: 100%;
    padding: 12px;
}
.offer-right{
    width: 270px;
}
.year-img{
    width: 70px;
    margin-top: 10px;
}
.year{
    color: red;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}
.dis-right-description{
    color: gray;
    font-size: small;
}
.best-off{
    color: red;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.coming-soon{
    color: #070211;
    font-size: 30px;
    font-weight: 800;
    margin: 0 ;
}

/* offer section end */


/* portfolio secction staert */

.portfolio-container{
    margin: 150px 30px;
}
.port-1title{
    color: red;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.port{
    color: #070211;
    font-size: 30px;
    font-weight: 700;
    margin: 0;

}
.port-des{
    color: gray;
    width: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.port-images{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.port-images img{
    width: 325px;
}

/* portfolio section end */

/* subscribe section start */

.subscribe-container{
    background-color: #fae8e8;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    width: 700px;
    height: 270px;
    margin: auto;
    
}

#sub-img{
    width: 50px;
}
.sub-news{
    color: #070211;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.sub-description{
    color: gray;
    font-size: small;
    width: 700px;
    margin-top: 5px;
    margin-bottom: 40px;
}


label{
    position: relative;
    border-radius: 50px;
}
.sub-form{
    border: none;
    padding: 10px;
}
.sub-btn{
    position: absolute;
    /* top: 0; */
    right: 5;
    /* bottom: 0; */
    border: none;
    padding: 10px;
    background-color: red;
}
.sub-input{
    margin-right: 100px;
}

/* subscribe section end */

/* footer section start */

.call-container{
    display: flex;
    margin: 0;   
    width: 300px;
    align-items: center;
    color: #ffffff;
    margin: 0;
}

.website-container{
    display: flex;
    margin: 0;   
    width: 300px;
    align-items: center;
    color: #ffffff;
    margin: 0;
}


.f-left{
    width: 300px;
    color: #ffffff;
}
.first-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
}

.social-medio{
    text-align: center;
    margin: 30px 0;
}

.social-medio img{
    width: 40px;
    height: 40px;

}
.last-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    color: #ffffff;
}

hr{
    width: 80%;
}
/* footer section end */
